/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.forecast-part {
    background-color: #e2fffb;
}

.production-part {
    background-color: #f7ffe4;
}

.actual-part {
    background-color: #e4ffe7;
}

body {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}